*{
    
}
.header{
    display:flex;
    flex: auto;
    justify-content: space-between;
    background-color: #1f2937;
    padding-left: 140px;
    padding-right: 100px;
    align-items: center;
    align-content: center;
}
.logo{
   margin-top: 5px;
}
.link{
    
   
}
a{
    text-decoration: none;
    color: white;
    margin: 4px;
}
body{
    margin: 0px;
}
.area{
    padding: 75px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
   
}
.text1-title{
    font-size: 30px;
    font-weight: 700;
}
.text1{
    color: white;
    width: 250px;

}
.this-image{
   
}
.text1-button{
    display: flex;
    justify-content: center;
    margin-top: 8px;

}
.signup{
    border: .5px solid darkblue;
    border-radius: 5px;
    padding: 10px;
    background-color: #3882F6;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
}
.area2{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.area2-title{
    text-align: center;
    margin-top: 15px;
    font-size: 24px;
    font-weight: 800;
}
.area2-img{
    width: 100px;
    height: 100px;
    border: 4px solid cyan;
    border-radius: 5px;
}
.img-container{
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 100px;
    text-align: center;
}
.area3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: #E5E7EB
}
.area3-quote{
    display: flex;
    text-align: center;
    width: 400px;
    font-style: italic;
    font-size: 24px;
    color: #1F2937;
    flex-direction: column;
}
.area3-name{
    text-align: right;
}
.area4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    color: white;
    
}
.area4-box{
    width: 700px;
    background-color: #3882F6;
    border: 2px solid #3882F6;
    border-radius: 5px;
}
.area4-box-container-button{
    display: flex;
    justify-self: center;
    align-self: center;
}
.signup2{
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    
}
.area4-box-container{
    display: flex;
    justify-content: space-evenly;
}
.area4-box-container-text{
    display: flex;
    padding-bottom: 10px;
}
h2{
    margin-bottom: 2px;
}
footer{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #1f2937;
    color: white;
    height: 40px;
    position: relative;
    width: 100%;
    bottom:0;
    
}
.footer-text{
    justify-self: center;
    align-self: center;
}